{% extends "base.html" %}
{%block title%}Contact us{% endblock %}

{% block content %}
    <p style="padding:20px;"></p>
    <h1 align=center style="font-family:Georgia;color:cornflowerblue">CONTACT US</h1>
    
<div class="container-fluid jumbotron" style="background:white;">
<div class="row row-content">
    <div class="col-xs-12 col-sm-6">
       <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7777.190277228872!2d77.61759822260962!3d12.933722763522729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAVS+Compound%2C+Koramangala%2C+Bangalore!5e0!3m2!1sen!2sin!4v1480329783844" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-sm-6" >
      <div class="col-xs-12 col-sm-12" >
          
          <h3>COMMERCIAL ADDRESS</h3>
             
             <p style="font-size:15px;">
                 <span style="color:yellow;background:white;" class="glyphicon glyphicon-home"></span>  AVS Compound, 80 Ft. Road,<Br> 
             Sony Signal, Koramangala, <Br>
                 Bengaluru, Karnataka, 560034,India</p>
        </div>
        
        <div class="col-xs-12 col-sm-12" >
          
          <h3>EMAIL</h3>
             
             <p style="font-size:15px;">
                 <span style="color:yellow;background:white;" class="glyphicon glyphicon-envelope"></span>
            General: contact@yincmall.com<br>
                  <span style="color:yellow;background:white;" class="glyphicon glyphicon-envelope"></span>
            Business: sales@yincmall.com<br>
                  <span style="color:yellow;background:white;" class="glyphicon glyphicon-envelope"></span>
            Join Us: career@yincmall.com<br>
        </div>
        
        <div class="col-xs-12 col-sm-12" >
          
          <h3>PHONE</h3>
             
              <p style="font-size:15px;"><span style="color:yellow;background:white;" class="glyphicon glyphicon-earphone"></span>
                  Telephone: 1234567890</p>
        
        </div>
        </div>
        </div>
   </div>
</div>

{%endblock%}    



<style>
    p,h3{
        font-family:Georgia;
        
    }
    
    
</style>