{% extends "base.html" %}
{% block title %} Home{% endblock %}
{% block content %}
    <!--slider next-->
    
    <p style="padding:20px;"></p>
    <div>
            <div class="carousel slide" id="mycarousel" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <div>    
                        <img src="/static/img/slide1.png">
                    </div>
   </div>
                
   <div class="item">
       <img width=100% src="/static/img/slide2.png">
    </div>
                
   <div class="item">
      <img src="/static/img/slide3.png">
    </div>
                
                
    <div class="item">
        <img src="/static/img/slide4.jpg">
    </div>
                
    
    
                </div><!--carousel inner ends here-->
            
                 <a class="left carousel-control" href="#mycarousel" data-slide="prev" id="lbtn"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#mycarousel" data-slide="next" id="rbtn"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
</div> 

    


    

<p style="padding:10px;"></p>

    

<div  class="mdl-grid">
{% for item in items %}  
<!--square item lists-->
    <style>
        @media only screen(max width:600px){
            .box{
                width:100%;height:250px;margin-top:20px;display:inline-flex;
                
            }}
        .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
        .mdl-card__title-text{
            font-size: 20px;
        }
.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}
    
    .box{
               margin:15px;
                background: white;
                width:300px
            }
    </style>
    <div class="box mdl-card mdl-cell mdl-cell--2-col mdl-cell--6-col-tablet mdl-shadow--3dp" >
       <figure class="mdl-card__media">
           {%load static%}
           <img width=100% src="/static/img/{{ item.imagename }}" alt="error image loading" />
       </figure>
        
        <div class="mdl-card__title mdl-card--expand">
			    <p class="mdl-card__title-text">Rs  {{ item.cost }}</p>
       </div>
       
    <div class="mdl-card__actions mdl-card--border">
    <p class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{ item.product_name }}</p>
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-button mdl-button--icon mdl-button--colored" href="{% url 'addtowishlist' %}?q={{item.product_name}}"><i class="material-icons">favorite</i></a>
    <a class="mdl-button mdl-button--icon mdl-button--colored" href="{% url 'addtokart' %}?q={{item.product_name}}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
  </div>
</div>
    
    
{% endfor %}
    </div>

    
    
{% endblock %}



